@import '@less/defs.less';

.status {
    .flex-column(0px, transparent);
    width: 100%;
    height: 70%;
}

.statustext {
    .font-size(26px);
    margin-top: 20px;
    color: #9e9e9e;
    width: 75%;
}

.loadinghint {
    .font-size(20px);
    margin-top: 15px;
}

.failicon {
    .w(63px);
    .h(54px);
    object-fit: scale-down;
}

.failtext {
    .font-size(28px);
    .font-semibold();
    color: white;
}

.faildetail {
    .font-size(18px);
    margin-top: 12px;
    color: #6e6e6e;
    width: 85%;
}

.viewer {
    .flex-column(0px, transparent);
    width: 100%;
}

.framearea {
    .w(384px);
    .h(216px);
    background-color: #000000;
    .radius(8px);
}

.frame {
    .w(384px);
    .h(216px);
}

.controls {
    .flex-row(0px, transparent);
    width: 400px;
    margin-top: 25px;
}

.ctrlicon {
    .w(45px);
    .h(45px);
    object-fit: scale-down;
}

.speedbtn {
    .w(60px);
    .h(50px);
    .flex-row(0px, rgba(255, 255, 255, 0.1));
    justify-content: center;
    align-items: center;
    .radius(25px);
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.2);
}

.speedtext {
    .font-size(26px);
    .font-semibold();
}

.frameprogress {
    .w(330px);
    .h(10px);
    margin-top: 25px;
}

.timetext {
    .font-size(22px);
    margin-top: 15px;
    color: #9e9e9e;
}
