.github-text-header {
  height: 62px;
  padding: 8px 17px 0;
  flex-direction: row;
  align-items: center;
}

.github-home-back, .github-home-menu {
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
}

.github-home-back-text {
  color: #ffffff;
  font-size: 46px;
  line-height: 46px;
}

.github-home-menu-placeholder {
  color: transparent;
}

.github-text-title {
  flex: 1;
  color: #ffffff;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  text-overflow: ellipsis;
}

.github-text-scroll {
  width: 432px;
  min-width: 432px;
  max-width: 432px;
  height: 452px;
  min-height: 452px;
  max-height: 452px;
  flex-shrink: 0;
  overflow: hidden;
}

.github-text-card {
  margin: 12px 20px 0;
  padding: 17px 16px;
  border-radius: 16px;
  background-color: #252525;
}

.github-text-content {
  color: #f0f0f0;
  font-size: 18px;
  line-height: 26px;
}

.github-text-bottom {
  height: 30px;
}
